/Category.class
/CategoryDAO.class
/Client.class
/ClientDAO.class
/DB.class
/DataManagement.class
/Order.class
/OrderDAO.class
/Product.class
/ProductDAO.class
/Rating.class
/Search.class
/Vendor.class
/VendorDAO.class
/Tester.class
